<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/mrp">MRP</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/siparis">Sipariş</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/makina">Makina</a>
        </li>  <li class="nav-item">
            <a class="nav-link" routerLink="/projeksiyon">Projeksiyon</a>
          </li>
      </ul>
    </div>
  </nav>

   